# systemd service file for moonraker
[Unit]
Description=API Server for Klipper SV1
Requires=network-online.target
After=network-online.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
User=sorin
RemainAfterExit=yes
ExecStart=/media/data/3d_printer/Firmware/moonraker-env/bin/python /media/data/3d_printer/Firmware/moonraker/moonraker/moonraker.py -c /media/data/3d_printer/Firmware/config/moonraker.conf -l /tmp/moonraker.log
Restart=always
RestartSec=10
