# CNC Tinker BOT with RP2040 MCU

# The "make flash" command does not work on the new RP2040. 
# After running "make", copy the generated "out/klipper.uf2" file
# to the mass storage device in RP2040 boot mode

#restart - to restart klipper
#DUMP_TMC STEPPER=stepper_x
#STEPPER_BUZZ STEPPER=stepper_x

# ! - makes pin active = low --- inverse
# enable pin motor driver ===> low = active / high = disable
# ^ --- pullup resistor ???

[mcu]
#serial: /dev/serial/by-id/usb-Klipper_rp2040_E66058388359772E-if00
serial: /dev/serial/by-path/pci-0000:00:14.0-usb-0:1:1.0


[stepper_x]
dir_pin: !gpio6
step_pin: gpio7
enable_pin: !gpio3
microsteps: 16
rotation_distance: 40
endstop_pin: !gpio22
position_endstop: 0
position_max: 180
homing_retract_dist: 0
homing_speed: 30

[tmc2209 stepper_x]
uart_pin: gpio4
uart_address: 0
run_current: 0.750
stealthchop_threshold: 999999

[stepper_y]
dir_pin: !gpio8
step_pin: gpio9
enable_pin: !gpio3
microsteps: 16
rotation_distance: 40
endstop_pin: !gpio21
position_endstop: 0
position_max: 160
homing_retract_dist: 0
homing_speed: 30

[tmc2209 stepper_y]
uart_pin: gpio4
uart_address: 1
run_current: 0.750
stealthchop_threshold: 999999


[stepper_z]
dir_pin: gpio10
step_pin: gpio11
enable_pin: !gpio3
microsteps: 16
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop
position_min: -5.0
position_max: 150

[tmc2209 stepper_z]
uart_pin: gpio4
uart_address: 2
run_current: 0.750
stealthchop_threshold: 999999


[stepper_z1]
dir_pin: gpio12
step_pin: gpio13
enable_pin: !gpio3
microsteps: 16
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop

[tmc2209 stepper_z1]
uart_pin: gpio4
uart_address: 3
run_current: 0.750
stealthchop_threshold: 999999


[z_tilt]
z_positions: 0,70
			160,70
points: 0,70
		160,70
retries:5
retry_tolerance:0.025

[extruder]
dir_pin: !gpio14
step_pin: gpio15
enable_pin: !gpio3
microsteps: 16
rotation_distance: 8.3733
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: gpio17
sensor_type: Generic 3950
sensor_pin: gpio26
max_power: 1
#control = pid
min_temp: 0
max_temp: 300

[tmc2209 extruder]
uart_pin: gpio5
uart_address: 0
run_current: 0.750
stealthchop_threshold: 999999

[verify_heater extruder]
# Just for PID Autotune - error
#max_error: 99999
#check_gain_time: 200
#heating_gain: 1

[probe]
pin: !gpio20
x_offset: 0.0
y_offset: 0 # 50

#[safe_z_home]
#home_xy_position: 50,50
#speed: 50

[bed_mesh]
speed: 100
horizontal_move_z: 3
mesh_min: 0,0
mesh_max: 180,160
probe_count: 3, 3
algorithm: bicubic

[heater_bed]
heater_pin: gpio16
sensor_type: Generic 3950
sensor_pin: gpio27
control: watermark
min_temp: 0
max_temp: 300

[fan]
pin: gpio18

[heater_fan heatbreak_cooling_fan]
pin: gpio19

#[include adxl.cfg] # Comment this out when you disconnect the accelerometer

[printer]
kinematics: corexy
max_velocity: 100
max_accel: 1000
max_z_velocity: 15
max_z_accel: 15

[virtual_sdcard]
path: /home/sorin/printer_data/gcodes/


#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [probe]
#*# z_offset = 0.100
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 10.815
#*# pid_ki = 0.291
#*# pid_kd = 100.580
